{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
      <h2><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h2>
      {% if post.body %}
        {% if post.post_type == 'Quote' %}
          <blockquote>{{ post.body|truncate(100) }}</blockquote>
          <p>{{ post.author }}</p>
        {% else %}
          <p>{{ post.body|truncate(100) }}</p>
        {% endif %}
      {% endif %}
      {% if post.embed_code %}
        {{ post.embed_code|safe() }}
      {% endif %}
      {% if post.image_url %}
        <p><img src="{{ post.image_url }}" /><p>
      {% endif %}
      <p>
        {{ post.created_at.strftime('%H:%M %d-%m-%Y') }} |
        {% with total=post.comments|length %}
            {{ total }} комментари {%- if total %10 in (2,3,4) %}я{%- elif total %10 in (5,6,7,8,9,0) -%}ев{%- else -%}й{%- endif -%}
        {% endwith %}
      </p>
    {% endfor %}
{% endblock %}